.shared-users{
    .user-avatar-container{
        width: 100%;
    }
    .tag-control{
        background: none;
        color: #000;
        margin-left: auto;
    }
    .btn-container{
        place-content: center;
    }
}