.billings-page{

  &__bar{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background: white;
    padding: 0 40px;
    box-shadow: inset 0px -1px 0px #E7E7ED;
    border-top-left-radius: 8px;
    &-input{
      flex: 1;
      margin: auto 20px auto 0;
    }
    &-filter{
      margin: auto 0 auto 32px;
    }
  }
  &__content{
    flex: 1;
    overflow: auto;
    background: #F4F5F9;
    padding: 40px;
    display: flex;
    flex-direction: column;
  }
  &__table{
    margin: 0px 0px 30px 0;
    width: max-content;
    &-header, &-row{
      box-shadow: inset 0px -1px 0px #E7E7ED;
      background: white;
      display: grid;
      grid-auto-flow: column;
      grid-auto-columns: 1fr;
      grid-auto-rows: 1fr;
      grid-template-columns: 1fr 3fr 2fr 4fr 2fr 5fr 4fr 2fr 2fr 3fr 2fr;
      grid-template-rows: 1fr;
      gap: 0px 10px;
      grid-template-areas:
    ". . . . . . . . . . .";
      align-items: center;
      padding-left: 18px;
      &>:nth-child(3){
        min-width: fit-content;
        &.total-hours{
          width: 200px;
        }
      }
    }


    &-header{
      height: 48px;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
      &>:nth-child(11){
        justify-content: center;
      }
      &>*{
        display: flex;
      }
      &-item{
        display: flex;
        font-size: 14px;
        color: #2e2e2e;
        &.sortable{
          cursor:pointer;
          img{
            margin: auto 0 auto 4px;
            height: 12px;
          }
        }
      }
    }

    &-row{
      height: 64px;
      background: white;
      transition: all 300ms ease;
      &.table-row-summary {
        align-items: center;
        border: 1px solid #e0e0e1;
        box-sizing: border-box;
        border-radius: 4px;
        height: 40px;
        min-height: 40px;
        background: white;
        color: #2e2e2e;
        font-size: 12px;
        grid-template-columns: 1fr 7fr 1fr 1fr 1fr 4fr 1fr 7fr 2fr 1fr 1fr;
        &-item {
          line-height: 1;
        }
      }
      &.checked{
        background: #D9EFE2;
      }
      &-item{
        display: flex;
        flex-direction: row;
        line-height: 24px;
        font-size: 14px;
        &>*{
          margin-top: auto;
          margin-bottom: auto;
        }
        span{
          max-width: 151px;
        }
        .check-box{
          display: block;
          position: relative;
          padding-left: 30px;
          margin: auto 0;
          cursor: pointer;
          color: black;
          font-size: 14px;
          line-height: 20px;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
          width: 20px;
          height: 20px;
          input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;
          }
        
          span{
            position: absolute;
            top: 0;
            left: 0;
            height: 20px;
            width: 20px;
            border: 1px solid var(--grey);
            border-radius: 2px;
            background-color: white;
            margin-top: 0;
            &:after {
              content: "";
              position: absolute;
              display: none;
            }
          }
        
          &:hover input ~ span {
            background-color: var(--green-light);
          }
          input:checked ~ span {
            background-color: var(--green);
            border-color: var(--green);
          }
          input:checked ~ span:after {
            display: block;
          }
          span:after {
            left: 6px;
            top: 2px;
            width: 6px;
            height: 12px;
            border: solid white;
            border-width: 0 2px 2px 0;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
          }
        }
        &-action{
          width: 16px;
        }
      }
    }
  }
}