.find-compare-page{
    padding: 40px;
    background: white;
    width: 100%;
    max-width: 100%;
    h2{
      font-family: var(--font-family-secondary);
      font-size: 26px;
      color: #000;
      margin: 0;
    }
  
    .compare-table{
      font-size: 14px;
      border-spacing: 0px;
      width: 100%;
      .skill{
        border: 1px solid rgba(152, 152, 154, 0.3);
        box-sizing: border-box;
        border-radius: 4px;
        line-height: 20px;
        font-size: 14px;
        padding: 9px 16px;
        margin: 0 10px 8px 0;
        color: #2E2E2E;
      }
      &__head{
        display: flex;
        &>div{ 
          border-right: 1px solid #E0E0E1;
          border-bottom: 1px solid #E0E0E1;
          border-top: 1px solid #E0E0E1;
          padding: 32px;
          width: calc(33.3% - 80px);
  
          &:first-child{
            border: none;
            max-width: 240px;
            min-width: 240px;
          }
          &:last-child{
            border-top-right-radius: 8px;
          }
          &:nth-child(2){
            border-left: 1px solid #E0E0E1;
            border-top-left-radius: 8px;
          }
          .feature{
            background: #F4F5F9;
            border-radius: 4px;
            color: #616161;
            text-transform: uppercase;
            font-size: 12px;
            line-height: 30px;
            height: 30px;
            padding: 0 16px;
            width:fit-content;
            letter-spacing: 1.5;
          }
  
        }
      }
      &__body{
        &>div{
  
          &:nth-child(2n+1){
            background: #F4F5F9;
          }
          &:nth-child(2n){
            background: white;
          }
          &>div:first-child{
            font-size: 18px;
            color: #000;
            border-left: 1px solid #E0E0E1;
            max-width: 240px;
            min-width: 240px;
          }
          &>div{
            width: calc(33.3% - 80px);
            border-right: 1px solid #E0E0E1;
            border-bottom: 1px solid #E0E0E1;
            padding: 32px;
          }
        }
        &>div:first-child{
          border-top-left-radius: 8px;
          &>div:first-child{
            border-top-left-radius: 8px;
            border-top: 1px solid #E0E0E1;
          }
        }
      }
      td{
        padding: 32px;
        border-right: 1px solid #E0E0E1;
        border-bottom: 1px solid #E0E0E1;
        margin: 0;
      }
    }
    &__attorney-close{
      width: 12px;
      height: 12px;
      cursor: pointer;
      transition: all 300ms ease;
      margin-left: auto;
      &:hover{
        opacity: .7;
      }
    }
  }

  .with-link-icon{
    word-break: break-word;
  }