.home-page{
  background: #F4F5F9;
  padding: 40px;
  display: flex;
  flex-direction: column;
  border-top-left-radius: 8px;
  flex: 1;
  &__left{
    width: 60%;
  }
  &__right{
    margin-left: 30px;
    width: 40%;
  }
  .billing-block{
    a{
      text-decoration: none;
      &:hover{
        opacity: .8;
      }
    } 
  }
  .recent-matter{
    &__name{
      font-size: 18px;
    }
    &__desc{
      font-size: 14px;
    }
    &__date{
      font-size: 12px;
      &-label{
        color: #616161;
      }
    }
    &__card{
      width: 48px;
      height: 48px;
      //border-radius: 50%;
      background: var(--green-light);
      display: flex;
      img{
        margin: auto;
        width: 24px;
      }
    }
  }
  .recent-document{
    background: white;
    line-height: 26px;
    display: flex;
    &__img{
      margin-right: 24px;
    }
    &__name{
      font-size: 14px;
      color: #000;
    }
    &__size{
      font-size: 12px;
      color: #616161;
    }
    &__detail{
      font-size: 12px;
      color: #000;
      display: flex;
    }
    &__time{
      color: #757575;
      font-size: 12px;
      margin-left: auto;
    }
  }
  .upcoming-bill{
    &__name{
      font-size: 16px;
      line-height: 20px;
      color: #000;
    }
    &__arrow{
      margin-left: auto;
    }
    &__detail{
      font-size: 12px;
      line-height: 26px;
      color: #616161;
    }
    &__cost{
      font-size: 22px;
      line-height: 30px;
      color: #000;
      margin-top: 12px;
    }
  }
  .chat-item{
    background: #FAFAFB;
    border: 1px solid rgba(224, 224, 225, 0.3);
    box-sizing: border-box;
    padding: 8px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__message{
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      width: calc(100% - 80px);
      max-width: 7ch;
    }
    &__star{
      width: 20px;
    }
    @media (min-width: 1500px){
      &__message{
        max-width: 10ch;
      }
    }
  }
  .chat-title{
    font-size: 14px;
    color: #000;
    font-weight: bold;
    &__badge{
      margin: auto 0 auto 8px;
      width: 16px;
      height: 16px;
      //border-radius: 50%;
      line-height: 16px;
      font-size: 11px;
      color: white;
      background: #C85445;
      text-align: center;
    }
  }
  .open-matters{
    font-family: var(--font-family-primary);
    color: var(--grey-dark);
    font-size: 14px;
    &__header{
      height: 48px;
      background: white;
      box-shadow: inset 0px -1px 0px #E7E7ED;
      display: flex;
      padding-left: 12px;
      border-top-right-radius: 8px;;
      border-left: 1px solid #dcdcdc;
      border-right: 1px solid #dcdcdc;
    }
    &__row{
      height: 64px;
      display: flex;
      background: white;
      box-shadow: inset 0px -1px 0px #E7E7ED;
      padding-left: 12px;
      border-left: 1px solid #dcdcdc;
      border-right: 1px solid #dcdcdc;
      &:last-child{
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
      }
    }
    &__item{
      margin: auto 0;
      &:nth-child(1){
        width: 25%;
      }
      &:nth-child(2){
        width: 20%;
      }
      &:nth-child(3){
        width: 15%;
      }
      &:nth-child(4){
        width: 20%;
      }
      &:nth-child(5){
        width: 20%;
      }
      a{
        color: #000;
        text-decoration: none;
      }
      a:hover{
        text-decoration: underline;
      }
    }
  }
}