.settings{
  padding: 40px;
  .label{
    color: var(--grey);
    font-size: 12px;
    line-height: 26px;
  }
  .heading{
    color: #000;
    font-size: 18px;
    line-height: 24px;
  }
  .desc{
    font-size: 14px;
    line-height: 26px;
    color: #2e2e2e;
  }
}