.document-new-button .menu-button-icon {
    position: relative !important;
}
.documents-page__bar.my-vault{
    padding: 0 20px !important;
}
.my-documents-page__content.my-vault{
    padding: 20px !important;
    background: white !important;
}
.documents-page__bar-filter .menu-dropdown{
    min-width: 155px !important;
}