.body_overlay {
    position: fixed;
    z-index: 90;
    top: 0;
    left: 0;
    right: 0;
    height: 120vh;
    background-color: rgba(47, 48, 48, 0.8);
    display: block;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

@media screen and (min-width: 621px) {
    .item_fullscreen {
        left: 15%;
        width: 60% !important;
        padding-left: 5%;
        padding-right: 5%;
    }
}

.item_fullscreen {
    position: fixed;
    width: 100%;
    overflow: auto;
}
.red {
    color: #F00000;
}
.this_fullscreen_hide {
    cursor: pointer;
    position: absolute;
    right: 7%;
    margin: 10px;
    top: 60px;
    z-index: 500;
    color: white;
    width: 30px;
    height: 30px;
}

#fullscreen_loader {
    position: absolute;
    left: 10px;
    right: 10px;
    bottom: 0px;
    top: 10px;
    padding: 0 7px;
    margin-bottom: 50px;
}

#item_loader {
    margin-top: 30px;
    position: relative;
    overflow-y: auto;
    left: 5px;
    right: 5px;
    bottom: 5px;
    top: 5px;
    position: absolute;
}

.window_fullscreen_hide {
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 15px;
    z-index: 500;
}

iframe {
    display: none;
}

.hidden {
    display: none !important;
}

.input__search {
    border: 1px solid rgba(0, 0, 0, .25);
    border-radius: 4px;
    box-sizing: border-box;
    color: #000;
    display: flex;
    font-size: 14px;
    height: 26px;
    line-height: 26px;
    margin: auto;
    padding: 12px;
    transition: all .3s ease;
    width: 100%;
}
#fullscreens_container {
    display: flex;
}