.breadcrumb-control{
  display: flex;
  &__item{
    display: flex;
    font-size: 14px;
    line-height: 20px;
    color: #2e2e2e;
    max-width: 400px;

    &:last-child{
      color: #000;
    }

    a{
      color: #98989a;
      text-decoration: none;
      transition: all 300ms ease;
      margin-right: 8px;
      &:hover{
        color: #111;
      }
    }
    
    img{
      margin: auto 12px;
    }
  }
}