:root {
	//Main colors
	--primary-color: #2e2e2e;
	--secondary-color: #2e73ae;
	--light-color: rgba(0, 0, 0, 0.1);
	// Green family 
	--green: rgba(0, 0, 0, 0.6);
	--green-dark: rgba(0, 0, 0, 0.7);
	--green-light: rgba(0, 0, 0, 0.1);
	// Yellow family
	--yellow: #E9C966;
	--yellow-dark: #E9C966;
	// Seafoam family
	--seafoam: #D9EFE2;
	--seafoam-dark: #C0D8CA;
	// Grey family
	--grey: #98989a;
	--grey-dark: #2E2E2E;
	--grey-light: #F4F5F9;
	// Red family
	--red: #CC4B39;
	// Purple family
	--purple: #CD92D2;
	--purple-light: #C5B4E2;

	--sand: #F5B335;
	
	// Font family
	--font-family-primary: "DM Sans";
	--font-family-secondary: "DM Serif Display";
}