@import "vars";
@import "text-colors";
@import "effects";
@import "styles";

@font-face {
  font-family: 'DM Sans';
  src:  url('./../assets/fonts/DM_Sans/DMSans-Regular.ttf') format('truetype');
	font-style: normal;
	font-weight: normal;
}
@font-face {
  font-family: 'DM Sans';
  src:  url('./../assets/fonts/DM_Sans/DMSans-Italic.ttf') format('truetype');
	font-style: italic;
	font-weight: normal;
}
@font-face {
  font-family: 'DM Sans';
  src:  url('./../assets/fonts/DM_Sans/DMSans-Bold.ttf') format('truetype');
	font-style: normal;
	font-weight: bold;
}
@font-face {
  font-family: 'DM Sans';
  src:  url('./../assets/fonts/DM_Sans/DMSans-BoldItalic.ttf') format('truetype');
	font-style: italic;
	font-weight: bold;
}

@font-face {
  font-family: 'DM Serif Display';
  src:  url('./../assets/fonts/DM_Serif_Display/DMSerifDisplay-Regular.ttf') format('truetype');
	font-style: normal;
	font-weight: normal;
}
@font-face {
  font-family: 'DM Serif Display';
  src:  url('./../assets/fonts/DM_Serif_Display/DMSerifDisplay-Italic.ttf') format('truetype');
	font-style: italic;
	font-weight: normal;
}


ul {
	padding-right: 0;
}
body{
	font-family: 'DM Sans';
	margin: 0;
}
*, *::before, *::after{
	box-sizing: border-box;
}
.container {
	margin-right: auto;
	margin-left: auto;
	padding-left: 20px;
	padding-right: 20px;

	@media (min-width: 768px) {
		width: 750px;
		padding-left: 25px;
		padding-right: 25px;
	}

	@media (min-width: 992px) {
		width: 970px;
	}

	@media (min-width: 1200px) {
		width: 1100px;
	}
}
.router-content{
	display: flex;
	flex-direction: column;
	flex: 1;
}

.text-gray{
	font-size: 14px;
	line-height: 26px;
	color: var(--grey);
	font-family: var(--font-family-primary);
}

.text-dark{
	font-size: 14px;
	line-height: 26px;
	color: var(--grey-dark);
	font-family: var(--font-family-primary);
}

.text-black{
	font-size: 14px;
	line-height: 26px;
	color: #000;
	font-family: var(--font-family-primary);
}
.text-red{
	color: #cc4b39;
	font-size: 14px;
	line-height: 26px;
	font-family: var(--font-family-primary);
}

.text-green{
	color: rgba(0, 0, 0, 0.8);
	font-size: 14px;
	line-height: 26px;
	font-family: var(--font-family-primary);
}

.text-lg-black{
	font-size: 22px;
	line-height: 28px;
	color: #000;
	font-family: var(--font-family-primary);
}

.text-sm-black{
	font-size: 12px;
	line-height: 24px;
	color: #000;
	font-family: var(--font-family-primary);
}

.divider{
	border-bottom: 1px solid #E0E0E1;
}

.fit-height{
	height: fit-content;
}

.text-ellipsis{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.font-size-lg{
	font-size: 24px;
}

.font-size-md{
	font-size: 16px;
}

.font-size-sm{
	font-size: 12px;
}

.font-bold{
	font-weight: bold;
}