.search-bar-container{
  border: 1px solid #e0e0e1;
  border-radius: 4px;
  height: 40px;
  padding: 0px 12px;
  display: flex;
  background: white;
  transition: all 300ms ease;
  &:hover, &:focus{
    border: 1px solid var(--green);
  }
  input{
    flex: 1;
    border: none;
    outline: none;
    line-height: 16px;
    width: 240px;
    height: 16px;
    font-size: 14px;
    margin: auto 0 auto 12px;
    color: var(--grey-dark);
    font-family: var(--font-family-primary);
  }
  img{
    height: 16px;
    margin-top: auto;
    margin-bottom: auto;
  }
  .close-icon{
    cursor: pointer;
    width: 12px;
    transition: all 300ms ease;
    &:hover{
      opacity: .7;
    }
  }
}