.currency-input-control{
  background: #FFFFFF;
  border: 1px solid #E0E0E1;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 12px 16px;
  input{
    border: none;
    outline: none;
    border-left: 1px solid #E0E0E1;
    padding-right: 16px;
  }
  &--currency{
    position: relative;
    &-container{
      left: 0;
      position:absolute;
    }
    &-main{
      display: flex;
    }
    &-item{
      color: #2e2e2e;
      cursor: pointer;
      font-size: 24px;
      height: 32px;
      line-height: 32px;
      &:hover{
        color: rgba(0,0,0,.6);
      }
    }
  }
}