.lead-detail-page{
  &__bar{
    display: flex;
    justify-content: space-between;
    padding: 24px 32px;
    border-bottom: 1px solid #ccc;
    border-top-left-radius: 8px;
    background: white;

    &>*:first-child{
      font-size: 26px;
      color: #000;
    }
  }
  &__content{
    // padding: 40px;
    background: white;
    flex: 1;
    background: #F4F5F9;
    overflow: auto;
    .label{
      color: #98989A;
      font-size: 12px;
      line-height: 26px;
      height: 26px;
    }
    .value{
      color: #000;
      font-size: 16px;
      line-height: 20px;
      height: 20px;
    }
  }
}