.start-call-modal{
    &__title{
        font-family: DM Sans;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 23px;
        margin: 0 0 30px 0;
    }
}